body > header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: rosybrown;
  background-image: url("/images/60-lines.png"); 
}

.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1023px) {
  .header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  
  
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 50%;
    height: 400px;
    border: 25px;
    margin-top: 250px;
    margin: 200px 5vh;
    padding-top: 25px;
  }

}

