nav {
  height: 120px;
  width: auto;
  background-color: #4056A1;
  color: #FFFFFF;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;  
}

nav span {
  font-family: "Bungee", "sans-serif";
  margin: 0 1.5em 0 1.5em;
}

nav > div {
  height: 120px;
}

.nav-contaner {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-sub-contaner {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  nav {
  background-color: rosybrown;
  background-image: url("/images/60-lines.png"); 
  }
  
}

@media screen and (min-width: 1024px) {
  nav {
  background-color: #4056A1;
  background-image: none; 
  
  }
  
}

