.new-tweet {
  width: 90%;
  background-color: burlywood ;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top-color: black;
  border-top-style: solid;
}

form {
  display: flex;
  flex-direction: column;
}

form textarea {
  border: none;
  border-bottom: 2px solid black;
  background-color: burlywood;
}

.new-tweet-button {
  background-color: darkblue;
  font-family: "Bungee", "sans-serif";
  color: white;
  /*/margin-top: 5px;*/
}

.redText {
  color: red;
}

.tweet-error-msg {
  margin: 20px 0px;
  text-align: center;
  color: red;
  border-style: solid;

}

.no-error-flag {
  display: none;
}

