.tweets-article {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-top: 30px;
}

.tweets-header {
  display: flex;
  justify-content: space-between;
  border-color: black;
}

.tweets-header-top {
  display: flex;
}

main > article {
  width: auto;
  background-color: red;
}

.tweets-img {
  margin: 20px;
  width: 25%;
  height: 25%;
  height:auto;
}

.tweet-inner-border {
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.tweet-footer{
  display: flex;
  justify-content: space-between;
}

.tweet-icons:hover {
  color:  yellow;
}

#tweets-container {
  padding: 5px 0;
  width: 90%;
}

