.tweets-article {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-top: 30px;
}
.tweets-article:hover {
  box-shadow: 10px 10px;
}

.tweets-header {
  display: flex;
  justify-content: space-between;
  border-color: black;
}

.tweets-header-top {
  display: flex;
}

.tweets-img {
  margin: 20px;
  height: 60px;
  width: 60px;
}

.tweet-name {
  white-space: nowrap;
  font-size: 32px;
}

.tweet-handle-wrapper {
  position: relative;
}

.tweet-handle {
  position: absolute;
  top: 5px;
  right: 10px;  
}

.tweet-inner-border {
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.tweet-footer{
  display: flex;
  justify-content: space-between;
}

.tweet-icons {
  padding: 0 5px;
}

.tweet-icons:hover {
  color:  yellow;
}

.tweets-container {
  padding: 5px 0;
  width: 90%;
}

@media screen and (max-width: 501px) {
  .tweet-name {
    font-size: 16px;
  }
  .tweet-handle {
    font-size: 16px;
  }
  
}

@media screen and (min-width: 500px) {
  .tweet-name {
    font-size: 25px;
  }
  .tweet-handle {
    font-size: 25px;
  }
  
}

